build/
build-android/
cmake-build-*/
*.o
*.so
*.a
.idea/
.vscode/
*.user
.DS_Store
CMakeLists.txt.bak
*.apk
*.keystore

/android/out/
*.exe
*.dll
*.dylib
*.jks
*.p12
*.aab
*.tmp
.~*
__pycache__/
*.pyc
.env
.env.*
local.properties

*Name clash*
